body {
  font-family: "Ubuntu", sans-serif;
}
.App {
  display: inline-block;
}

h2 {
  color: gray;
  font-weight: 500;
  font-size: 35px;
  font-weight: bold;
  line-height: 28px;
}
.weather-app {
  width: 800px;
  margin: 30px 0 auto;
  padding: 20px;
  border: 1px solid #f9f7fe;
  border-radius: 10px;
  background-image: #fdfbfb;
}

.ppal-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.ppal-temp .active:hover {
  text-decoration: none;
}
.location-icon {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  color: gray;
  font-weight: 500;
  font-size: 35px;
  font-weight: bold;
  line-height: 28px;
}
